<settings>
    <!-- 五行配色表盘设置配置 -->
    
    <!-- 五行元素选择 -->
    <setting propertyKey="@Properties.ElementIndex" title="@Strings.FiveElementColor">
        <settingConfig type="list">
            <listEntry value="0">默认</listEntry>
            <listEntry value="1">@Strings.ElementWood</listEntry>
            <listEntry value="2">@Strings.ElementFire</listEntry>
            <listEntry value="3">@Strings.ElementEarth</listEntry>
            <listEntry value="4">@Strings.ElementMetal</listEntry>
            <listEntry value="5">@Strings.ElementWater</listEntry>
        </settingConfig>
    </setting>
    
    <!-- 显示步数 -->
    <setting propertyKey="@Properties.ShowSteps" title="@Strings.Steps">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 显示心率 -->
    <setting propertyKey="@Properties.ShowHeartRate" title="@Strings.HeartRate">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 显示卡路里 -->
    <setting propertyKey="@Properties.ShowCalories" title="@Strings.Calories">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 显示电量 -->
    <setting propertyKey="@Properties.ShowBattery" title="@Strings.Battery">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 显示天气 -->
    <setting propertyKey="@Properties.ShowWeather" title="@Strings.Weather">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 时间格式 -->
    <setting propertyKey="@Properties.TimeFormat" title="@Strings.TimeFormat">
        <settingConfig type="list">
            <listEntry value="0">24小时制</listEntry>
            <listEntry value="1">12小时制</listEntry>
        </settingConfig>
    </setting>
    
    <!-- 日期农历星期显示 -->
    <setting propertyKey="@Properties.ShowDateInfo" title="日期-农历-星期">
        <settingConfig type="boolean"/>
    </setting>
    
    <!-- 数据更新频率 -->
    <setting propertyKey="@Properties.DataUpdateFrequency" title="@Strings.DataUpdateFrequency">
        <settingConfig type="list">
            <listEntry value="0">@Strings.UpdateRealTime</listEntry>
            <listEntry value="1">@Strings.UpdateEveryMinute</listEntry>
            <listEntry value="2">@Strings.UpdateEvery5Minutes</listEntry>
            <listEntry value="3">@Strings.UpdateEvery15Minutes</listEntry>
        </settingConfig>
    </setting>
    
    <!-- 天气数据源 -->
    <setting propertyKey="@Properties.WeatherDataSource" title="@Strings.WeatherDataSource">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeatherSystemDefault</listEntry>
            <listEntry value="1">@Strings.WeatherConnectIQ</listEntry>
            <listEntry value="2">@Strings.WeatherPhoneSync</listEntry>
        </settingConfig>
    </setting>
    
    <!-- 语言设置 -->
    <setting propertyKey="@Properties.Language" title="@Strings.Language">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LanguageChinese</listEntry>
            <listEntry value="1">@Strings.LanguageEnglish</listEntry>
            <listEntry value="2">@Strings.LanguageAuto</listEntry>
        </settingConfig>
    </setting>
</settings>